/* ===================
    0. 리샛 + 공통 + 색
====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000;
  --text: #fff;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* ===================
    1. 헤더
====================== */

/* ===================
    2. 사이드바
====================== */

.sidebar {
  display: none;
}
